<div class="container   d-flex justify-content-evenly tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/bolsa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="bolsa">Bolsa COLCCI</h5>
          <p class="card-text"> </p>
          <a href="#" class="btn btn-primary container-fluid ">Compre-já</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="../../assets/bolsa2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="bolsa">Bolsa COLCCI</h5>
          <p class="card-text"> </p>
          <a href="#" class="btn btn-primary container-fluid ">Compre-já</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="../../assets/santalolla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="bolsa">Bolsa SANTA LOLLA</h5>
          <p class="card-text"> </p>
          <a href="#" class="btn btn-primary container-fluid ">Compre-já</a>
        </div>
      </div>
</div>
